/.vscode
/2. Add Two Numbers.java
/assessmant12.java
/Assessment1.java
/class rightUppyramid.java
/day.java
/decitohexadeci.java
/even.class
/even.java
/hello.class
/hello.java
/Main.java
/mobile.java
/noofprime.java
/patt.java
/pattern.java
/reverse.java
/Strong number.java
/Strongnumber.java